*.swp
*.swo
*.o
.vscode
.DS_Store
webserv/webserv
webserv/log.txt
*pthread_kill
.idea
cmake-build-debug
CMakeLists.txt
webserv/resources/42_test/post_body
webserv/resources/42_test/put_test/multiple_same
