*.swp
*.swo
*.o
.vscode
.DS_Store
webserv/webserv
webserv/log.txt
*pthread_kill
.idea
cmake-build-debug
CMakeLists.txt
obj
site/42_test/post_body
site/42_test/put_test/multiple_same
site/42_test/put_test/
